.body {
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: space-around;
    background-image: url('C:\Users\User\Desktop\NUU\NuuProject\First-Project\src\assets\images\image1.jpg');
    background-size: cover; /* 放滿 */
    background-position: center; /* 置中 */
    background-repeat: no-repeat; /* 避免重複 */
    padding: 20%;
}

.A  {
    margin-top: -20%;
}

.header1 .accordion-button {
    font-size: 100%;
    background-color: #beb9b9; /* 红色 */
  }
  
.header2 .accordion-button {
    font-size: 100%;
    background-color: #beb9b9; /* 绿色 */
  }
  
.header3 .accordion-button {
    font-size: 100%;
    background-color: #beb9b9; /* 蓝色 */
  }
  
.header4 .accordion-button {
    font-size: 100%;
    background-color: #beb9b9; /* 紫色 */
  }