.bg-body-tertiary {
    width: 100%;
    height: auto; /* 自動調整高度 */
}

.navbar-brand {
    color: rgb(194, 224, 224);
    font-size: 2rem; /* 調整字體大小 */
    margin-left: 0; /* 移除負邊距 */
    text-align: center; /* 置中對齊 */
}

.me-auto {
    margin-left: 0; /* 移除負邊距 */
    font-size: 1.25rem; /* 調整字體大小 */
    text-align: center; /* 置中對齊 */
}

.me-auto a {
    color: rgb(238, 237, 221);
    transition: all 0.65s ease-in-out;
}

.me-auto a:hover {
    color: rgb(14, 144, 170);
    transition: all 0.5s ease-in-out;
}

.mb-3-3 {
    margin-right: 5%;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem; /* 在小螢幕上調整字體大小 */
    }

    .me-auto {
        font-size: 1rem; /* 在小螢幕上調整字體大小 */
    }
}
